.errorContainer {
  height: calc(100vh);
  width: 100vw;
  background: url("../../lib/assets/images/error.svg");
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: center;
}

.spinnerContainer {
  padding-top: 64px;
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
}

.container {
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;

  .heading {
    position: absolute;
    top: calc(64px + 1em);
    height: 44px;
    width: 100%;
    padding: 0 10vw;
    font-size: 1.6em;
    display: flex;
    align-items: center;
  }

  .instruction {
    padding-left: 30px;
  }

  .content {
    padding-top: calc(64px + 2em);
    padding-bottom: 1em;
    height: auto;
    width: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 185px);
    grid-template-rows: repeat(auto-fill, 185px);
    grid-gap: 1em;
    justify-content: center;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 15vh;

    .card {
      height: 185px;
      width: 185px;
      position: relative;
      border-radius: 0.5em;
      background-color: #d0f2dc;

      .title {
        width: 100%;
        text-align: center;
        font-weight: bold;
        font-size: 2.5vh;
        padding: 10px;
        color: #402401;
      }

      .downloadIcon {
        position: absolute;
        bottom: 1em;
        right: 1em;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    .spinnerContainer {
      display: grid;
      place-items: center;

      .error {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .heading {
      display: grid;
      place-items: center;
    }

    .content {
      grid-template-columns: 1fr;
      grid-gap: 1em;

      .card {
        width: 100%;
        position: relative;
      }
    }
  }
}
