.navbar {
  height: 64px;
  width: 100%;
  box-sizing: border-box;
  padding: 1rem 5rem;
  box-sizing: border-box;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #000;
}

.logo,
.profile {
  height: 52px;
  width: 52px;
  object-fit: contain;
}

@media screen and (max-width: 768px) {
  .navbar {
    padding: 1rem;
  }
}
